<style>

    header .link {

    }

    header .list-unstyled .link {
      font-size: 1.4rem;
      font-weight: 400;
    }

    header .header__icons {
      width: 100%;
    }

    header .template-search__search {
        width: 100%;
        min-width: 300px;
    }

    header .header__icon {
        height: 4.5rem;
        padding-left: 20px;
        width: auto !important;
        color: #000;
    }

    header .header__icon .icon-description {
        line-height: 4.5rem;
    }

    header .search .field:after {
        border: none !important;
        box-shadow: none !important;
    }

    header .search .field__input:focus-visible {
        box-shadow: none !important;
    }

    header .search__input {
        border: 1px solid #cacaca;
        border-radius: 8px !important;
        background-color: #f7f7f7;
        font-size: 1.4rem;
    }

    header .field__label {
      font-size: 1.4rem;
      line-height: 1.8;
    }


    header .predictive-search {
        min-width: 600px;
        border: 1px solid #dadada;
        background-color: #ffffff;
    }

    header .header__active-menu-item {
      text-decoration: none;
    }

    header .cart-count-bubble {
      height: 2rem;
      width: 2rem;
      font-size: 1.1rem;
      left: 4.2rem;
      line-height: 2.4rem;
    }

   .predictive-search {
    border-radius: 8px;
  }
  
  .predictive-search__results-groups-wrapper {
    display: block;
  }
  
  .modal-overlay.modal-on {
    display: block;
  }

  .modal-overlay.modal-on::after {
    position: absolute;
    content: '';
    background-color: rgb(var(--color-foreground), 0.5);
    top: 100%;
    left: 0;
    right: 0;
    height: 100vh;
  }

</style>




<div id="modalOverlay" class="modal-overlay"></div>

<div class="template-search__search">
    {%- if settings.predictive_search_enabled -%}
      <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
    {%- endif -%}
    <main-search>
      <form action="{{ routes.search_url }}" method="get" role="search" class="search">
        <div class="field">
          <input
            class="search__input field__input"
            id="Search-In-Header"
            type="search"
            name="q"
            value="{{ search.terms | escape }}"
            placeholder="{{ 'general.search.search' | t }}"
            {%- if settings.predictive_search_enabled -%}
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results"
              aria-controls="predictive-search-results"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
            {%- endif -%}
          >
          <label class="field__label" for="Search-In-Template">{{ 'general.search.search' | t }}</label>
          <input name="options[prefix]" type="hidden" value="last">

          {%- if settings.predictive_search_enabled -%}
            <div class="predictive-search predictive-search--search-template" tabindex="-1" data-predictive-search>
              {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
            </div>

            <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
          {%- endif -%}

          <button
            type="reset"
            class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
            aria-label="{{ 'general.search.reset' | t }}"
          >
            <span class="svg-wrapper">
              {{- 'icon-reset.svg' | inline_asset_content -}}
            </span>
          </button>
          <button type="submit" class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
            <span class="svg-wrapper">
              {{- 'icon-search.svg' | inline_asset_content -}}
            </span>
          </button>
        </div>
      </form>
    </main-search>
    {%- if settings.predictive_search_enabled -%}
      </predictive-search>
    {%- endif -%}
  </div>


  <script>
    var x = document.getElementById("Search-In-Header");
    x.addEventListener("focus", function (e) {
      document.getElementById("modalOverlay").classList.add("modal-on");
    }, true);
    x.addEventListener("focusout", function (e) {
      document.getElementById("modalOverlay").classList.remove("modal-on");
    });
  
  </script>